
/* General */


body{
    background-color: #caf0f8;
}

*{
    box-sizing: border-box;
}

.header {
    height: 180px;
    background-color: #48cae4;
    padding: 20px;
    text-align: left ;
    font-size: x-large;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.top a{
    float: left; 
    width: 20%;   
    padding: 14px 16px;
    display: block;
    color: black;
    text-align: left;
    font-size: larger;
    text-decoration: white;
    background-color: #ade8f4;
}

.top a :hover{
    background-color: #ddb892;
    color: black;
}
img.home1{
    float: left;
}

/* Homepage */

h2.home1{
    clear: both;
    margin-left: 40%;
    padding-top: 30px;
}
p.home1{
    clear: both;
    margin-left: 40%;
    padding-top: 30px;
}

ul.home1{
    clear: both;
    font-size: 25px;
    text-align: left;
    float: left;
    line-height: 70px;
}

.robot {
    height: 400px;
    width: auto;
    margin-left: 50px;
    margin-right: 60px;
    float: right;
    
}

/* Products */

h1.products1{
    clear: both;
    text-align: center;
    margin-top: 5%;
}
.box{
    width: 1600px;
    height: 450px;
    background-color: turquoise;
}
.products-and-text1{
    width: 400px;
    margin-left: 5%;
    height: 420px;
    float: left;
}
.products-and-text2{
    width: 400px;
    margin-left: 5%;
    float: left;
}
.products-and-text3{
    width: 400px;
    margin-left: 5%;
    float: left;
}
.products-and-text img{
    display: block;
    margin-bottom: 5%;
}
.products-and-text button{
    margin-bottom: 5%;
}
p.products1{
    font-size: larger;
    text-align: left;
}
p.products2{
    margin-left: 40%;
    text-align: center;
    display: inline;
    padding-right: 10%;
}

/* Contact */

h1.contact1{
    clear: both;
    text-align: center;
    margin-top: 5%;
}
P.contact1{
    text-align: center;
    font-size: larger;
    text-decoration: underline;
    color: blue;
}
p.contact2{
    text-align: center;
    color: cornflowerblue;
    text-decoration: underline;
}
p.contact3{
    text-align: center;
}
.contact1-questionare{
    margin-top: 3%;
    text-align: center;
}
.contact1-questionare img{
    display: block;
    margin: 0 auto;

}
button.contact1{
    margin-top: 10px;
}

/* About us */

h1.about1{
    clear: both;
    text-align: center;
    margin-top: 5%;
}

.button-group button{
    display: block;
    margin-left: 10%;
}
.button-group img{
    padding: 10px 0;
    margin-left: 10%;
}
.text-about{
    float: right;
    width: 50%;
    margin-right: 10%;
    font-size: 15pt;
}
h3.about1{
    font-size: x-large;
    font-style: italic;
}
/*Pop-up in About us*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .personContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .personContent2 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


/* News */
h2.news1{
    text-align: center;
    margin-top: 5%;
    font-size: 2em;
}
p.news1{
    text-align: center;
    font-size: larger;
}
img.news1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}