
/* General */

body{
    background-color: azure;
}

*{
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.header {
    height: 180px;
    background-image:linear-gradient(to bottom, white, #00c2f9) ;
    padding: 20px;
    text-align: left ;
    font-size: x-large;
}
.header h1{
    margin-left: 40px;
}

.top a{
    float: left; 
    width: 20%;   
    padding: 14px 16px;
    display: block;
    color: black;
    text-align: left;
    font-size: larger;
    text-decoration: white;
    font-weight: 900;
    background-image:linear-gradient(to bottom, #00c2f9, #00e1f6);
}

.top a :hover{
    background-color: #ddb892;
    color: black;
}
img.home1{
    float: left;
}

/* Homepage */

p.home1{
    clear: both;
    text-align: center;
    padding-top: 10%;
    font-family: 'Garamond', Times, serif;
    font-size: xx-large;
    font-style: italic;
    font-weight: bolder;
}
p.home2{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    font-size: larger;
}
p.home3{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    font-size: larger;
}

.logo {
    height: 250px;
    width: auto;
    margin-left: 5%;
    margin-top: 10%;
    float: left;
    margin-bottom: 0;
}

/* Products */

h1.products1{
    clear: both;
    text-align: center;
    margin-top: 5%;
}
.box{
    width: 1600px;
    height: 450px;
    background-color: turquoise;
}
.products-and-text1{
    width: 400px;
    margin-left: 5%;
    height: 420px;
    float: left;
}
.products-and-text img{
    display: block;
    margin-bottom: 5%;
}
.products-and-text1 button{
    margin-bottom: 5%;
    height: 30px;
    width: 100px;
    font-size: 16px;
}
h2.products1{
    text-align: center;
}
p.products1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p.products2{
    margin-left: 40%;
    text-align: center;
    display: inline;
    padding-right: 10%;
    font-family: 'Times New Roman', Times, serif;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* Contact */

h1.contact1{
    clear: both;
    font-size: 50px;
    text-align: center;
    margin-top: 10%;
}
a.contact1{
    margin-left: 48%;
    margin-top: 4%;
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
p.contact2{
    margin: 2%;
    font-size: x-large;
    text-align: center;
    color: cornflowerblue;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}
p.contact3{
    margin: 2%;
    font-size: x-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
/* FAQ */
h1.FAQ{
    clear: both;
    text-align: center;
    margin-top: 10%;
}
h3.FAQ2{
    text-align: center;
    margin-top: 5%;
    font-size: x-large;
}
p.FAQ3{
    text-align: center;
    font-size: larger;
}

/* About us */

h1.about1{
    clear: both;
    text-align: center;
    margin-top: 5%;
}
.text-about{
    float: right;
    width: 45%;
    margin-right: 10%;
    font-size: 15pt;
}
h3.about1{
    font-size: x-large;
    font-style: italic;
}
p.about1{
    font-family: 'Times New Roman', Times, serif;
}
.about-people{
    float: left;
    width: 45%;
}
.about-people img{
    padding-left: 10%;
    border-radius: 25px;
    height: 200px;
    width: auto;
}
.about-people h4{
    padding-left: 10%;
}
p.about-mail{
    padding-left: 10%;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
p.about2{
    padding-left: 10%;
    font-size: smaller;
    font-family: 'Times New Roman', Times, serif;
}

/* News */
h2.news1{
    text-align: center;
    margin-top: 5%;
    font-size: 2em;
}
p.news1{
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
.news-images{
    width: 100%;
    
}
img.news1{
    display: inline-block;
    margin-left: 5%;
    margin-right: auto;
}
img.news2{
    display: inline-block;
    margin-left: 2%;
    margin-right: auto;
}
img.news3{
    display: inline-block;
    margin-left: 2%;
    margin-right: auto;
}
