/* General */


body{
    background-color: #caf0f8;
}

*{
    box-sizing: border-box;
}

.header {
    height: 180px;
    background-color: #48cae4;
    padding: 20px;
    text-align: left ;
    font-size: x-large;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.top a{
    float: left; 
    width: 20%;   
    padding: 14px 16px;
    display: block;
    color: black;
    text-align: left;
    font-size: larger;
    text-decoration: white;
    background-color: #ade8f4;
}

.top a :hover{
    background-color: #ddb892;
    color: black;
}
img.home1{
    float: left;
}

/* Homepage */

h2.home1{
    clear: both;
    margin-left: 40%;
    padding-top: 30px;

}
ul.home1{
    clear: both;
    font-size: 25px;
    text-align: left;
    float: left;
    line-height: 70px;
}

.robot {
    height: 400px;
    width: auto;
    margin-left: 50px;
    margin-right: 60px;
    float: right;
    
}

/* Products */

h1.products1{
    clear: both;
    text-align: center;
    margin-top: 5%;
}
.products-and-text{
    text-align: center;
    font-size: larger;
    width: 400px;
    margin-left: 5%;
}
.products-and-text img{
    display: block;
    margin: 0 auto;
}

/* Contact */

h1.contact1{
    clear: both;
    text-align: center;
    margin-top: 5%;
}
P.contact1{
    text-align: center;
    font-size: larger;
    text-decoration: underline;
    color: blue;
}
p.contact2{
    text-align: center;
    color: cornflowerblue;
    text-decoration: underline;
}
p.contact3{
    text-align: center;
}
.contact1-questionare{
    margin-top: 3%;
    text-align: center;
}
.contact1-questionare img{
    display: block;
    margin: 0 auto;

}
button.contact1{
    margin-top: 10px;
}

/* About us */

h1.about1{
    clear: both;
    text-align: center;
    margin-top: 5%;
}